{% extends "base.html" %}
{{ super() }}
{% block body %}
<div class="container m-3">
<form action="api/restaurante" method="POST" role="form" class="form-horizontal">
    <div class="form-group row">
        <label for="name" class="col-sm-2 control-label">Nombre del restaurante</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="dir" class="col-sm-2 control-label">Dirección</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="dir" dir="dir">
        </div>
    </div>
    <div class="form-group row">
        <label for="municipio" class="col-sm-2 control-label">Municipio</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="municipio" municipio="municipio">
        </div>
    </div>
    <div class="form-group row">
        <label for="pedania" class="col-sm-2 control-label">Pedania</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="pedania" pedania="pedania">
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Añadir">
</form>
</div>
{% endblock %}