{% extends "base.html" %}
{{ super() }}
{% block body %}

<div class="row">
    {% for rest in restaurantes %}
    <div class="card m-3" style="width: 18rem;">
        <img src="{{ rest['Foto 1'] }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ rest['Nombre'] }}</h5>
            <p class="card-text">{{ rest['Teléfono'] }}</p>
            <p class="card-text">{{ rest['Dirección'] }}</p>
            <p class="card-text">{{ rest['Email'] }}</p>
            <p class="card-text">{{ rest['URL Real'] }}</p>
            <a href="{{ rest['Nombre'] }}" class="btn btn-primary">Ver más...</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

