{% extends "base.html" %}
{{ super() }}
{% block body %}
<div class="container">
    <div class="m-2">
        <div class="jumbotron">
            <h3 class="display-8">{{ restaurante['Nombre'] }}</h3>
            <hr class="my-4">
            <p>{{ restaurante['Dirección'] }}</p>
            <p>{{ restaurante['Teléfono'] }}</p>
            <p>{{ restaurante['Email'] }}</p>
            <p>{{ restaurante['URL Real'] }}</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="rounded" src="{{ restaurante['Foto 1'] }}" alt="Foto 1" style="width:100%">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="rounded" src="{{ restaurante['Foto 2'] }}" alt="Foto 2" style="width:100%">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="rounded" src="{{ restaurante['Foto 3'] }}" alt="Foto 3" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
